/* Header.css */

.header {
    display: grid;
    grid-template-areas: 'logo nav';
    background-color: #5b5ddd;
  }
  
  .nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
  }
  
  .nav-link {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  