@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  @include flex-center;
  flex-direction: column;
  min-height: 60vh;
  font-size: 1.2rem;
  color: $text-secondary;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid $primary;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: $spacing-sm;
}

.text {
  margin: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}